html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #1e2127;
  color: #abb2bf;
  font-family: monospace;
  padding: 0;
  margin: 0;
}
.App {
  text-align: left;
  overflow: auto;
  height: 100vh;
}

table {
  width: 100%;
}

th {
  color: gold;
  text-transform: uppercase;
  padding: 10px 0;
  min-width: 130px;
}

th:nth-child(1) {
  min-width: 0;
}
th:nth-child(2) {
  min-width: 70px;
}

tr td:first-of-type {
  border-left: rgba(255,255,255,.1) 1px dashed;
}

td {
  border-top: rgba(255,255,255,.2) 1px dashed;
  border-right: rgba(255,255,255,.1) 1px dashed;
  padding: 10px;
  margin-top: 5px;
}
tr:last-of-type td {
  border-bottom: rgba(255,255,255,.2) 1px dashed;
}

.happy {
  color: rgb(157, 241, 0);
}
.sad {
  color: rgb(255, 60, 0);
}
.up {
  background-color: rgba(59, 85, 49, 1);
  animation: fadeOutUp 15s forwards;
}
.down {
  background-color: rgba(70, 34, 34, 1);
  animation: fadeOutDown 15s forwards;
}
.progress {
  position: fixed;
  bottom: 0;
  background: #2d3a55;
  height: 5px;
  transition: width .10s ease-in-out;
}

.typed-cursor{
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
          animation: typedjsBlink 0.7s infinite;
}
@keyframes fadeOutUp{
  100% { background-color: rgba(59, 85, 49, 0.1); }
}
@-webkit-keyframes fadeOutUp{
  100% { background-color: rgba(59, 85, 49, 0.1); }
}

@keyframes fadeOutDown{
  100% { background-color: rgba(70, 34, 34, 0.2); }
}
@-webkit-keyframes fadeOutDown{
  100% { background-color: rgba(70, 34, 34, 0.2); }
}